@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background-color: #fafafa;
	color: #333;
}

a { 
	
	color: #02b875;
}

.btn-default {
	background-color: #02b875;
	border: none;
	border-radius: 50px;
	width: 150px;
	color: #fff;
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 1px;
    line-height: 2;
}

.btn-default:hover {
	background-color: #02b873;
	border: none;
	border-radius: 50px;
	width: 150px;
	color: #fff;
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 1px;
    line-height: 2;
}

.container1 {
	width: 1000px;
}

.navbar {
	background-color: #fff;
	border: none;
}

.nav1 {
	margin-top: 6px;
}

.nav2 {
	 margin-top: -20px;
    height: 30px;
}

.nav-sep {
	margin-top: -20px;
	width: 1000px;
}

.profile-img img {
    border-radius: 100px;
    width: 30px;
    margin-top: 9px;

}

.profile-username {
    margin-top: 15px; padding-left: 12px;

}

.jumbotron {
	 margin-top: -22px;

}

.description {
	color: #333;
	font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em;
}



