<div class="jumbotron">
  <div class="container container1">
    <h2>It’s time to get more from what<br> you read. Find and share real<br> perspectives about topics that <br>matter today.</h2>
    <%= link_to 'Get Started', home_about_path, class: 'btn btn-default' %>
  </div>
</div>